*{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 

    padding:0;
    margin:0;

 }


.globalwrapper{
    margin-left: 150px;
    margin-right:150px;

}

.portfoliogrid{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-auto-rows:minmax(100px, auto);
    grid-gap: 2em;
    border: 2px;
    background:#EAEAEA;
}
.portfolio{
    height:400px;
    width:100%;
    background-color:green;
    margin-bottom: 80px;   
}

.contentgrid{
    display:grid;
grid-row-gap: 1em;
}

.twocolgrid{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 1em;
}

#hero{

height:400px;
    width:100%;
    color:white;
   background-image:url(img/hero_background.png);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: left;
    margin-bottom: 100px;
    padding-top: 80px;
}

#htitle{
    font-size: 3.5em;
    margin-bottom: 1rem;
}

.logotext{
    font-size:1.8rem;
    color:#B200FD;
}

lunorderlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.liunorderlist{
  float: left;
}

.liunorderlist{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.liunorderlist:hover {
  background-color: #B200FD;
    color:white;
}
    
.herosection {
    height: auto;
    }
.headwrapper {
    padding: 36px 56px 60px 56px;
}

.contact{
    height:auto;

}
.contactgrid{
    display: grid;
    grid-template-columns: 1 1fr;
}
.footersection{
    background-color: #343334;
    text-align: center;
    color:white;
    height: auto;
    padding: 40px 0px 40px 0px;
}
