*{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 

    padding:0;
    margin:0;

 }

a{
 color: #B200FD;
}


.globalwrapper{
    margin-left: 150px;
    margin-right:150px;

}

.portfoliogrid{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-auto-rows:minmax(100px, auto);
    grid-gap: 2em;
    border: 2px;
 
}
.portfolio{
    height:auto;
    background-color:#F8F8F8;
  padding:80px 0px 60px 0px;   
    
}

.contentgrid{
display:grid;
grid-row-gap: 1em;
}

.twocolgrid{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 2em;
    margin-top: 32px;
}

#hero{
height: auto;
    width:100%;
    color:white;
   background-image:url(img/hero_background.png);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: left;

    padding: 80px 0px 80px 0px;
}

#htitle{
    font-size: 3.5em;
    margin-bottom: 1rem;
}

.logotext{
    font-size:1.8rem;
    color:#605E60;
    padding-left: 8px;
}

lunorderlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #B200FD;
}

.liunorderlist{
  float: left;
}

.liunorderlist{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.logoLinks{
color: #B200FD;
text-decoration: none;
}

.logolinks:hover {
  background-color: #B200FD;
    color:#FFF;
}
    
.herosection {
    height: auto;
    }
.headwrapper {
    padding: 36px 56px 60px 56px;
}

.contact{
    height:auto;
    background:#F8F8F8;
}


.footersection{
    background-color: #343334;
    text-align: center;
    color:white;
    height: auto;
    padding: 40px 0px 40px 0px;
}
.card {
    width:300px;
    background-color: #EAEAEA;
    padding:1rem;
    margin:16px 0px 16px 0px;
    border-radius: 16px;
    
}

.subtitle {
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    color:#605E60;
    margin-top: 32px;
}

.aboutsection {
    padding: 80px 0px 60px 0px;
}


.form-control {
    width: 600px; 
    background:transparent; 
    margin-bottom: 16px; 
    border:none;
    color:#000;
    border-bottom: 2px solid #B200FD;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

input{
    height:45px;
}

form .submit{
      background:#ff5722;
   /* padding: 4px 8px 4px 8px;
  
    border-color:transparent; 
    font-size: 20px;*/
}

#contacttitle {
    color:#383838;
    
}

/*Error page styling*/

#errorpagehero{
    background-color: #9999;
    padding: 80px 0px 60px 0px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}