@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700|Open+Sans:300,600,800|Public+Sans:200,400,900|Work+Sans:200,500,800&display=swap');

/*CSS varibales*/
:root{
--primary-color:#b90415;
--primary-color-hover:#BF5FFF;
--secondary-color:#103063;
--secondary-color-hover:#143f85;
--light-color:#f4f4f4;
}

body {
    font-family:'Noto Sans','Open Sans','Public Sans','Work Sans', sans-serif;
    background-color: #2C2A4A;
   /*  background-image: url("http://i.cubeupload.com/NjsJx8.png"); */
    margin: 0;
    color: #FFF;
}
img{
    width:100%;
}

a{
    text-decoration: none;
    color: #BF5FFF;;
}

.logo_link{
    padding-left: 60px;
    
}
footer{
text-align: center;
}
.footertext{
    padding: 3em 3em;
}
/*Section*/
.section{
padding:2rem 0rem;

}
/*Title Section*/
.herotitle{
  font-weight: 200px;
}

.h2hero{
  font-weight:600px;
}

.section head{
    font-size:2.5em;
    margin: 0px;
}
.section-header{
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.section h3 {
 font-size:2rem;
}
 /*Showcase section*/

 #showcase{
  margin: 0;
  padding: 0;
  /* background: url('dis/img/Radcliffe.png') no-repeat center;
  background-color: red; */
  width:100%;
  height:60vh;
  position:relative;
  overflow-y: hidden;
}


#showcase h1{
font-size: 4rem;
margin-bottom: 0px;
}
#showcase h2{
font-size: 2rem;
}

/*Card section grid*/
.giftcards{
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    text-align:left;
}

/*Card section grid*/
.portfoliogrid{
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    text-align:left;
}
.portfoliogrid a{
  text-decoration: none;
}

.portfolio-card{
    display: block;
    background-color: white;
    color:rgb(34, 34, 34);
padding:16px;
border-radius: 10px;
box-shadow: 0px 2px 3px rgba(0,0,0,.13), 1px 2px 2px rgba(0,0,0,.1), -1px -2px 2px rgba(0,0,0,.05);
text-align: center;
overflow: hidden;
}
.portfolio-card img{
  max-width: 73px;
  max-height: 74px;
}

.portfolio-card:hover{
  background-color: var(--primary-color-hover);
  color:white;
}


 /*About Page Styles*/
.about-A-sect{
  height: auto;
  width:auto;
  background-color: white;
  color: black;
  padding-top: 3em;
  padding-bottom: 3em;

}
.aboutgrid{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1.5rem;
  color:#000;
  background:white;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  
  
}
/*Resume Page*/
.resume-A-sect{
  background:#E8E8E8;
  height: auto;
  padding-top: 3em;
  padding-bottom:3em;
}
.download-btn{
  padding:1em;
  color:white;
  background-color: blueviolet;
  border-radius: 8px;
  margin-bottom:1rem;
}

/*Resume Page*/

.resume-A-sect img{
  margin-top: 2rem;
}

/*Error Page*/
.error-A-sect{
  background:#fff;
  height: auto;
  padding-top: 3em;
  padding-bottom:3em;
  color: black;
}

.error-A-sect ul{
  list-style-type: none;
  text-align: left;
}
.error-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.error-grid-item2{
  text-align: center;
}
.error-grid-item2 img{
  width:100%;
}
/* Error Utlitiy Classes*/
.div-style{
  padding-bottom: 48px;
}

.p-style{
font-style: italic;
}

/*E-card section*/
.ecard-A-sect{
  background:#fff;
  height: auto;
  padding-top: 3em;
  padding-bottom:3em;
  color: black;
}

.text-style{
  text-align: left;
}

/* Global Utlitiy Classes*/

/*button*/

.btn{
    padding: 1rem;
    color:white;
    display:inline-block;
    }
    .btn-primary{
        background-color: var(--primary-color);
    
    }
    .btn-primary:hover{
        background-color: var(--primary-color-hover);
    
    }
    
    .btn-secondary{
        background-color: var(--secondary-color);
    
    }
    .btn-secondary:hover{
        background-color: var(--secondary-color-hover);
    
    }
#showcase .container{
    margin-top: 25vh;
}

.lead{
    font-size:1.3rem; /*controls paragraph font size*/
}

.text-light {
    color: var(--light-color);
  }
  
  .bg-light {
    background: var(--light-color);
    color: #333;
  }

.mb {
    margin-bottom: 1rem;
}
.mt{
    margin-top:1rem;
}

  .container{
      max-width: 1180px;
      text-align:center;
      margin: 0px auto;
      padding:0 3rem;
  }
  nav {
    height: 60px;
    width: 100%;
    background-color: #333;/*#333*/
    color: #eee;
    position: fixed;

  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav li {
    display: inline;
    float:left;
    line-height: 2.5em;
  }
  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
   
  }
  nav li:hover {
    background-color:var(--primary-color-hover);
  }
  nav a#openup {
    display: none;
  }
 

  @media screen and (max-width: 580px) {

    .hide-on-small{
        display: none;
    }
   
    #showcase{
        height: 50vh;
    }

    #showcase .container {
        margin-top: 15vh;
    } 

    #showcase h1{
        font-size: 3rem;
    }
    #showcase h2{
        font-size:1.5rem;
    }
    /*Makes the nav responsives*/
    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      border-bottom: 1px solid #555;
    }
    nav a:hover {
      background: #BF5FFF;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }
    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative;
    }
  } /*End of media query*/
  .cf:before, .cf:after {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    zoom: 1;
  }
  
  /* For IE 6/7 (trigger hasLayout) */
  @media screen and (max-width: 580px) {
      .giftcards{
          grid-template-columns: 1fr;
      }
      .portfoliogrid{
        grid-template-columns: 1fr;
    }
    .aboutgrid{
      grid-template-columns: 1fr;
      
    }
    .footer-text{
      padding: 3em 3em;
    }
    .error-grid{
      grid-template-columns: 1fr;
    }
  }
